<form action="/payment/results">
 <label for="apr">APR</label>
  <input id="apr" type="text" placeholder="E.g 5.42" name="user_apr">

  <label for="years">Number of years </label>
  <input id="years" type="text" placeholder="how many years to repayment" name="user_years">

  <label for="principal">Principal</label>
  <input id="principal" type="text" placeholder="how much principal" name="user_principal">

  

  <button>Calculate monthly payment</button>
</form>
