<form action="/square_root/results">
  <label for="number">Enter a number</label>
  <input id="number" type="text" placeholder="what number do you want to square root of?" name="number">

  <button>Calculate square root</button>
</form>
